/* Ctrl+tab */
/* css의 문자셋 지정 */
@charset "utf-8";

/* 웹브라우저의 기본 여백 초기화 */
*{margin: 0; padding: 0;}

/* 자식(하위)선택자 */
body>*{width: 900px; padding: 20px; background-color: ivory; text-align: center; margin: auto;}
header{display: flex; height: 200px; justify-content: space-between; align-items: flex-end;}
/* justify-content: space-between = 남는 자리 균등배치 / align-items : 세로 정렬 */
h1{width: 200px; height: 200px; background-color: skyblue; line-height: 200px;}
ul{display: flex; list-style: none; width: 600px; justify-content: center;}
li{width: 70px; height: 60px; line-height: 60px;}
#container{display: flex; justify-content: space-between;}
section{background-color: lightcoral; width: 300px; height: 400px; line-height: 400px;}
section+div{display: flex; flex-direction: column; background-color;}
section+div>*{height: 190px; width: 200px; background-color: lightgreen;}
footer>*{background-color: lightslategrey; width: 600px; padding: 5px; margin-left: 100px; margin-right: 5px;}