/* common */
.inner{width: 100%; max-width: 1440px; margin: auto; text-align: center;}
.w100{overflow: hidden; transition: all .5s ease-in-out; position: absolute; top: 50px; right: 0; width: 100%; height: 0 ; background: #eee;}

/* nav */
nav{width: 100%; height: 50px; background: lightsteelblue; display: flex; position: relative;}
.gnb{display: flex; justify-content: center;}
.gnb li{height: 100%;}
.gnb li a{display: block; padding: 1rem;}

.dep1 a{color: white;}
.dep2{display: flex; justify-content: center; flex-flow: row wrap; width: 50%;}
.dep2 li{flex-basis: 25%; }
.dep2 li a{opacity: 0; transition: all .5s ease-in-out; color: #333; padding: 1rem;}

/* border-tip */
.gnb .m1:hover::before{content: ''; position: absolute; bottom: -20%; left: 11%; border-top: 10px solid lightsteelblue; border-left: 10px solid transparent; border-right: 10px solid transparent; z-index: 999999;}
.gnb .m2:hover::before{content: ''; position: absolute; bottom: -20%; left: 36%;  border-top: 10px solid lightsteelblue; border-left: 10px solid transparent; border-right: 10px solid transparent; z-index: 999999;}
.gnb .m3:hover::before{content: ''; position: absolute; bottom: -20%; left: 62%;  border-top: 10px solid lightsteelblue; border-left: 10px solid transparent; border-right: 10px solid transparent; z-index: 999999;}
.gnb .m4:hover::before{content: ''; position: absolute; bottom: -20%; left: 87%;  border-top: 10px solid lightsteelblue; border-left: 10px solid transparent; border-right: 10px solid transparent; z-index: 999999;}

/* hover */
.gnb>li:hover .w100{visibility: visible; height: auto;}
.gnb>li:hover .w100 a{opacity: 1;}