@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');html{overflow-y: scroll; font-size: 62.5%;}

/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol,dt,dd,dl{list-style: none;}
a{text-decoration: none; color: #333; font-size: 1.6rem;}
a:link,a:visited{color: #333;}
img{border: 0; vertical-align: top;}

html{overflow-y: scroll; font-size: 62.5%;}
body{font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.75;}

/* 공통 */
.inner{max-width: 140rem; margin: 0 auto;}

/* menu bar */
nav{position: relative; width: 100%; height: 9.4rem; background: #fff;}
nav>.gnb{display: flex;}
nav>.gnb li{margin: 0 3.8rem; }
nav>.gnb li.logo{width: 18rem; margin: 0 0 0 2.5rem; }
nav>.gnb li.logo a{display: block; background: url('../img/freesamLogo.jpg') no-repeat center center/18rem; text-indent: -9999999px; overflow: hidden; font-size: 0;}

nav>.gnb li>a{display: block; line-height: 9.4rem; font-size: 1.2rem; font-weight: bold;}
nav>.gnb li a:hover{color: #e95a65;}
nav>.gnb>li .menu_title img{width: 135px;}

/* 2depth layout */
.gnb .dep1 ul{display: flex;}
.gnb .dep1 li{flex: 0 1 20rem; margin: 0; border-left: 1px solid #e9e9e9; padding-left: 2rem ;}
.gnb .dep1 li h2{font-size: 1.5rem; font-weight: bold; text-align: center; color: #e95a65; padding-top: 0.2rem;}
.gnb .dep1 li dl dt a{font-size: 1em; font-weight: bold; line-height: 1.8; }
.gnb .dep1 li h3 a{color: #097a84; font-weight: bold; line-height: 2; margin-bottom: 0.3rem;}
.gnb .dep1 li dd a{color: #777; font-size: .8em; font-weight: 700; line-height: 1.7;}

/* 2depth bg */
nav .gnb_bg{position: absolute; background: #fbfbfb; top: 9.4rem; left: 0; width: 100%; padding: 0 0 ; transition: all .5s; height: 0; overflow: hidden; z-index: 9;}
/* nav .gnb_bg:before{content: ''; position: absolute; box-shadow: 0 0px 10px rgba(0 0 0 /70%); top: 0; left: 0; height: calc(100% - 2rem); width: 100%; z-index: -1; padding: 2rem 0; background: #fbfbff;} */

/* hover */
.gnb .dep1:hover .gnb_bg{height: auto; padding: 2rem 0;}
.gnb .dep1:hover .gnb_bg:before{padding: 2rem 0;}

/* main */
main{}
main .main_banner{height: 100vh; background: url('https://plus.unsplash.com/premium_photo-1682308257863-99012bacaec8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1992&q=80') no-repeat; background-size: cover; position: relative;}
.main_banner ul{display: flex; position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%); position: absolute; gap: 1rem;}
/* flex : flex-growㅣflex-shrinkㅣflex-basis */
.main_banner ul li{position: relative; flex: 1 1 30%; height: 200px; background: rgba(255,255,255,.5); color: #fff; text-align: center; font-size: 4em; line-height: 200px; transition: margin .5s; padding: 0 60px;}
.main_banner li:hover{margin-top: -10px;}
.main_banner li:after{content: 'o'; position: absolute; left: 165px; top: 87px; opacity: 0; transition: all .5s;}
.main_banner li:hover:after{opacity: 1; }
.main_banner li:before{content: ''; position: absolute; width: 0%; height: 8px; background: #e95a65; left: 50%; bottom: 0; transform: translateX(-50%); transition: width .5s;}
.main_banner li:hover:before{width: 100%;}