<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout_1</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="01.css">
</head>
<body>
    <div class="wrap">
        <header>
            <h1>header</h1>
            <nav>nav</nav>
        </header>
        <main>
            <div class="side">side</div>
            <div class="contents">contents</div>
        </main>
        <footer>
            <div>footer</div>
        </footer>
    </div>
</body>
</html>