<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout_2</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="02.css">
</head>
<body>
    <div class="wrap">
        <header>
            <h1>Header</h1>
            <nav>Nav</nav>
        </header>
        <main>
            <div class="side-left">side_left</div>
            <div class="contents">contents</div>
            <div class="side_right">side_right</div>
        </main>
        <footer>Footer</footer>
    </div>
</body>
</html>