.container{width: 80%; height: 150px; display: flex; align-items: center;}
.box{width: 60px; height: 60px; margin: 5px; background: lightcoral; line-height: 60px;}
#box1{flex: 1}
#box2{flex: 500px}
#box3{flex: 2 2s;}
/* ÷flex: 확대;축쇠ㅣ기본 */