@charset "utf-8";
.wrap {width: 100%;display: flex;flex-wrap: wrap; }

/* header */
header {width: 100%;max-width: 200px;height: 850px; }
header .logo {margin-top: 4rem;width: 200px;height: 40px;line-height: 4rem;text-align: center; }
header .logo a {color: var(--primary); }
header nav {margin-top:2rem;}
header nav ul.depth1 li{position: relative;}
header nav ul.depth1 li:not(:last-child){margin-bottom:1rem;}
header nav ul li a{display: block; padding-left: 4rem; color:var(--text1); transition:all 300ms; width:20rem; height:4.8rem; line-height: 4.8rem;}
header nav ul li:hover>a{color:var(--background); background:var(--secondary);}
header nav ul.depth2{position:absolute; top:0; right:-600px; width:600px; display: none; z-index: 999999999; }
header nav ul.depth2 li{display: inline-block; width: 15%; height: 100%;}
header nav ul.depth2 li a{display: block;}

header:before{content:''; display:block; position:absolute; width: 0%; height: 30rem; background:#ffffff71; left:200px; top:9rem; transition:all 0.3s; z-index: 99999999; backdrop-filter: blur(10px);}
header.on:before{width: 40%;}

.spotmenu{margin-top:9.8rem; padding:1.1rem 2.5rem; display: flex; justify-content: space-around;}
.spotmenu a{display: block; color:var(--primary);}




/* main */
main {width: 100%;max-width: calc(100% - 200px);}
/* quick */
main .quick{position: fixed; right: 2rem; top: 2rem; width: 10rem; height: 22.5rem; background: #ebebeb; z-index: 55; border-radius: 1.25em; padding: 2rem 2rem 1rem; display: flex; flex-direction: column; justify-content: space-evenly;}
.quick li a{display: block; text-align: center;}
.quick li a *{display: block;}
.quick li a .icon{margin-left: 20%; display: block; width: 3.2rem; height: 3.2rem; background: no-repeat center center/cover;}
.quick li:nth-child(1) a .icon{background: url('/images/icon.png');}
.quick li:nth-child(2) a .icon{background: url('/images/icon_chat.png');}
.quick li:nth-child(3) a .icon{background: url('/images/info_icon.png');}

/* slide */
main .slide{width: 100%; height: 400px; }
main .slide_wrap{width: 100%; height: 400px; position: relative;} /* overflow : hidden = 좌우로 움직이는 슬라이드일 때 (not fade in/out) */
main .slide_wrap li{position: absolute; width: 100%; height: 100%; opacity: 0; background: #fff no-repeat center center/cover; transition: all .3s ease-in-out;}
main .slide_wrap li.on{opacity: 1;}
main .slide_wrap li.slide1{background-image: url('/images/unsplash_n8vDuIpGb0c.jpg');}
main .slide_wrap li.slide2{background-image: url('/images/bg_2.jpg');}
main .slide_wrap li.slide3{background-image: url('/images/bg_3.jpg');}
main .slide_wrap li .textbox{max-width: 50%; text-align: center; color: var(--background); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background: rgba(0,0,0,.5); padding: 2rem;}
main .slide_wrap li .textbox span{display: block; padding: 1rem;}
/* banner */
main .banner {width: 100%;height: 200px; display: flex; justify-content: center; align-items: center;}
main .banner .inner{display: flex; max-width: 900px; max-height: 140px; justify-content: space-between; align-items: center;}
main .banner .inner .row{ display: flex; gap: 1rem;}
main .banner .inner .thumbs{flex: 0 1 14rem; height: 14rem; background: url('/images/thumbs.png') no-repeat;}
main .banner .inner .textbox{flex: 0 1 57rem; height: 14rem;}
main .banner .inner p{color: var(--text2); padding-top: 1rem;}
/* board */
main .board {width: 100%;height: 250px; padding: 1rem;}
main .board .inner{width: 100%; max-width: 900px; margin: auto;}
main .board .row{display: flex;}
main .board .buttons li{width: 9rem; padding: 1rem; text-align: center; border: 2px solid var(--primary); background: var(--background);}
main .board .buttons li.on{ background: var(--primary);}
main .board .buttons li.on a{color: white;}

main .board .panels{width: 100%; height: 18rem; max-width: 70rem; flex-direction: column;  position: relative; border: 2px solid var(--primary); border-top: none;}
main .board .panels:before{content: ''; position: absolute; top: -2px; right: -2px; width: calc(100% - 17rem); height: 2px; background: var(--primary);}

main .board .panels .row{display: flex; gap: 1rem; justify-content: space-between;}
main .board .panels .row div{padding: .8rem 4rem;}
main .board .panels .row .left{cursor: pointer;}
main .board .panels .row .left:hover{text-decoration: underline;}
main .board h2{position: absolute; right: 70rem; width: 20rem; text-align: center; line-height: 1.25; color: #bcbcbc; padding: 1rem; font-size: 5rem; font-weight: bold;}
.panel1,.panel2{position: absolute; height: 14rem; width: 100%;}
.panel2 .row li{padding-top: 2rem; padding: 2rem;}
.panel2 .row img{width: 100%;}
.panel2{display: none;}
/* popup */
main .board .popup{position: fixed; z-index: 9999; width: 50rem; height: 30rem; background: #fff url('/images/cereal_bar.png') no-repeat left bottom; top: 30%; left: 35%; display: none;}
main .popup .textbox{position: absolute; right: 5rem; top: 5rem; }
.popup .close{position: absolute; right: 1rem; top: 1rem;}
.popup .textbox .h1{position: static; color: #CC8020; width: 100%; font-size: 2.5rem; text-align: left; padding: 0; margin-bottom: 3rem;}
.popup .textbox p{padding: 0.5rem 0;}
.popup .h3{color: #435E39;}
.overlay{position: fixed; background: rgba(0,0,0,.5); left: 0; right: 0; top: 0; bottom: 0; z-index: 99; display: none;}
.overlay.open{display: block;}
/* footer */
footer {width: 100%;height: 120px; display: flex; text-align: center; align-items: center;}
footer .logo{padding: 0 2rem; flex-basis: 200px;}
footer .right{flex-basis: 80%;}
footer .inner{max-width: 900px; margin: auto;}
footer .inner .top{display: flex; justify-content: space-around;}
footer .inner .top li{position: relative;}
footer .inner .top li:not(:last-child):before{position: absolute; content: ''; background: var(--primary); width: 1px; height: 34%; right: -15%; top: 50%; transform: translatey(-40%);}

/* footer .inner .top li:before{content: ''; display: block; position: absolute; top: .5rem; left: 7rem; background: #435E39; width: .2rem; height: 1.8rem; justify-content: space-evenly;}
footer .inner .top li:nth-child(2):before{left: 10rem;}
footer .inner .top li:nth-child(3):before{left: 10.5rem;}
footer .inner .top li:nth-child(4):before{left: 8.5rem;}
footer .inner .top li:nth-child(5):before{left: 8rem;}
footer .inner .top li:nth-child(6):before{display: none;} */
