*{box-sizing: border-box;}
body{background: #eee;}
#wrapper{display: grid; grid-template-columns: repeat(auto-fit, minmax(320px,1fr)); grid-gap: 1rem;}
.card{background: #fff; box-shadow: 0px 1px 5px #222; justify-content: center; align-items: center; text-align: center;}
.card>header{font-size: 1.5rem; padding: 0.5rem;}
.card>p{padding: 0.5rem; line-height: 1.6em;}
img{width: 250px;}