body{background: #eee; text-align: center;}
.wrap{font-weight: bold; width: 100%; max-width: 1440px; position: relative;}
header{height:480px; width: 100%;}
header h1{width: 100%; height: 120px; position: fixed; top: 0; left: 0; background: var(--gray1);}
header .bg{width: 100%; background: var(--gray2); height: 480px;}
main{display: flex; flex-flow: column; width: 100%;}
main .container_1{height:4002px; background: var(--gray3)}
main .container_2{height: 1789px; background: var(--gray4)}
main .container_3{height: 1197px; background: var(--gray5)}
footer{height: 248px; background: var(--gray6);}