.wrap{width: 100%; max-width: 375px; font-weight: bold;}
body{background: #eee; text-align: center;}
header{width: 100%; height: 596px; position: relative;}
header h1{background: var(--gray1); width: 100%; height: 70px; position: fixed; top: 0; left: 0;}
header .bg{height: 596px; background: var(--gray2);}
main{display: flex; flex-flow: column; width: 100%;}
main .container_1{background: var(--gray3);height: 5874px;}
main .container_2{background: var(--gray4);height: 1391px;}
main .container_3{background: var(--gray5);height: 1310px;}
footer{background: var(--gray6); height: 352px; width: 100%;}